@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body {
    font-family: 'Work Sans', serif;
    background-color: #FFED74;
    border: 1px black solid
    padding: 20px;
    font-size: 16px;
	font-style: 
	font-weight 
	text-align
	text-decoration
	text-transform

}
</body>
header {
	background-color: #FFED74;
} 
</header>
nav {
	background-color: #E8C66A;
} 
</nav>
aside {
	background-color: #FFC675;
} 
</aside>
article {
	background-color: #E89C6C;
} 
</article>
footer {
	background-color: #FF957E;
} 
</footer>
section {
	background-color: #FFE2B8;
} 
</section>