@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body {
    font-family: 'Work Sans', serif;
    background-color: #BDBDBD;
    font-size: 16px;
    font-style: 
	font-weight 
	text-align
	text-decoration
	text-transform;
}
</style>
</head>
<body>